body {
    background-color: beige;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: pink;
    padding: 10px;
}

h1 {
    color: red;
}

nav {
    background: grey;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

footer {
    margin-top: 20px;
}
